body {
  font-family: Vazirmatn, sans-serif;
  margin: 0;
  background-color: #f6f7f8;
  direction: rtl;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-wrapper {
  display: flex;
  gap: 10px;
}

#searchBox {
  width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

#searchButton {
  background-color: #14A897;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 0 12px;
  font-size: 18px;
  cursor: pointer;
}

#searchButton:active {
  transform: translateY(1px);
}
